{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "projectName": {
            "value": "bpaprojectmahi"
          },
          "repositoryToken": {
            "value": "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"
          },
          "repositoryUrl": {
            "value": "https://github.com/mahalaxminanya/business-process-automation"
          }
    }
}